<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Imágenes | Trabajo PID</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="./">Trabajo PID - Grupo 4</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="./">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./imagenes">Imágenes </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="./pruebas">Pruebas <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Subir imagen</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <form class="px-4 py-3" method="post" action="./upload" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-group">
                  <label for="subirImagen">Selecciona una imagen:</label>
                  <input type="file" class="form-control" id="subirImagen" name="imageFile">
                </div>
                <button type="submit" class="btn btn-success">Subir</button>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">

      <div class="container" style="margin-top:70px">

        {% for prueba in pruebas %}
        <div class="row justify-content-center">
          <div class="col-sm-3">
            <div class="card" style="width: 15rem;">
              <img class="card-img-top" src="{{prueba.original.archivo.url}}" alt="Card image cap" style="height:200px;width:238px">
              <div class="card-body">
                <h5 class="card-title">Original</h5>
                <p class="card-text">Relleno y forraje relleno y forraje relleno y forraje relleno y forraje relleno y forraje relleno y forraje.</p>

              </div>
            </div>
            </div>
            <div class="col-sm-3">
            <div class="card" style="width: 15rem;">
              <img class="card-img-top" src="{{prueba.resultado.archivo.url}}" alt="Card image cap" style="height:200px;width:238px">
              <div class="card-body">
                <h5 class="card-title">Resultado</h5>
                <p class="card-text">Relleno y forraje relleno y forraje relleno y forraje relleno y forraje relleno y forraje relleno y forraje.</p>

              </div>
            </div>
          </div>
          </div>
        {% endfor %}

      </div> <!-- /container -->

    </main>
<hr/>
    <footer class="container">
      <p>&copy; Grupo 4 PID 2017/18</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
